<h1>Plate</h1>
<%= view("javascripts/views/selector", { 'data-thing':'blah', class:'foo' }) %>
<%= view("javascripts/views/selector", { 'data-foo':123 }) %>
<%= view("javascripts/views/plate") %>

<div class="selector-view"></div>
<div class="problems-view"></div>
